
body{
	margin:0;
	padding: 0;
}

.roja {
	background-color: #ee3e64;
	
	width: 200px;
	height: 200px;
	position:absolute;
	left:0px;
	top:0px;


}

.azul {
	
	background-color: #44accf;
	
	width: 200px;
	height: 200px;
	position:absolute;
	right: 0px;
	top:120px;
	left: 200px;
	bottom: 300px;

	
}

.verde {
	background-color:#b7d84b;
	
	width: 200px;
	height: 200px;
	position:absolute;
	left: 0px;
	bottom:300px;	
	top:100;
}

.amarilla {

	width: 200px;
	height: 200px;
	position:absolute;
	background-color: yellow;
	left: 0px;
	bottom:800px;	
	top:320px;
}